name: Manual Sync main -> client main

on:
  workflow_dispatch:    # manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout company repo main
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Add client remote and push
        env:
          CLIENT_PAT: ${{ secrets.CLIENT_PAT }}
        run: |
          if [ -z "$CLIENT_PAT" ]; then
            echo "CLIENT_PAT secret is not set. Please add it in repo settings."
            exit 1
          fi

          # Clean up any existing 'client' remote if rerun
          git remote remove client || true

          # Add client repo as remote using PAT
          #git remote add client https://$CLIENT_PAT@github.com/swethavulchi-centella/python-helloworld.git
          git remote add client https://$GITHUB_ACTOR:$CLIENT_PAT@github.com/swethavulchi-centella/python-helloworld.git


          echo "Pushing company main -> client main"
          git push client main:main
